<%-include ('../_layouts/adminheader') %>
<h2 class="page-title">Edit A Page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br /><br />

<form method="post" action="/admin/pages/edit-page/<%=id%>">
  <div class="form-group">
    <label for="">Title</label>
    <input
      type="text"
      placeholder="title"
      class="form-control"
      name="title"
      value="<%= title %>"
    />
  </div>

  <div class="form-group">
    <label for="">Slug</label>
    <input
      type="text"
      placeholder="slug"
      class="form-control"
      name="slug"
      value="<%= slug %>"
    />
  </div>

  <div class="form-group">
    <label for="">Content</label>
    <textarea
      placeholder="content"
      name="content"
      id="ta"
      cols="30"
      rows="10"
      class="form-control"
    >
<%= content %>
        </textarea
    >
  </div>

  <button class="btn btn-default">Submit</button>
</form>
<%-include ('../_layouts/adminfooter') %>
