<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%=title%></title>
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">mycart</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% pages.forEach(page => { %> <% if (page.slug=="home") { %>
            <li><a href="/"><%=page.title%></a></li>
            <% } else { %>
            <li><a href="<%=page.slug%>">
            <%=page.title%></a></li>
            <% }}); %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li>
             <a href="/cart/checkout">Cart (
               <% if (typeof cart!=="undefined") { %>
                <%=cart.length %> 
               <% } else {%>
               0
              <% } %>
             )</a>
           </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <%- messages('messages', locals) %>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2>Categories</h2>
          <ul class="list-group">
            <li class="list-group-item"><a href="/products/products">All Products</a></li>
            <% categories.forEach(c => { %>
             <li class="list-group-item"><a href="/products/<%=c.slug%>">
             <%=c.title%>
            </a></li>
            <% }) %>
          </ul>
         
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-8">

        
    
    <!-- /.container -->

    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
