<%-include ('_layouts/header') %>
<h1 class="page-header"><i class="fas fa-luggage-cart"></i> Your Orders</h1>
<div class="row products">
    <% orders.forEach(o => { %>
    <div class="col-xs-12 col-md-4 p">
            <img src="<%=o.image%> " alt="" class="pimage" />
            <h3><%=o.title%></h3>
            <h4>₹<%=o.price%></h4>
            <h4>Quantity: <%=o.qty%> </h4>
        </a>
    </div>
    <% }) %>
    
</div>

<%-include ('_layouts/footer') %>

