<%-include ('_layouts/header') %>

<div class="row products">
  <% products.forEach(p => { %>
  <div class="col-xs-12 col-md-4 p">
    <div class="thumbnail dark">
    <a href="/products/<%=p.category%>/<%=p.slug%>" class="pa">
      <img
        src="/product_images/<%=p.id%>/<%=p.image%> "
        alt=""
        class="pimage"
      />
      <div class="caption clearfix">
      <h3><%=p.title%></h3>
      <h4 class="price pull-left">₹<%=p.price%></h4>
      <a href="/products/<%=p.category%>/<%=p.slug%>" class="vd btn btn-primary pull-right"
        >View</a
      >
    </a>
  </div>
  </div>
  </div>
  <% }) %>
</div>

<%-include ('_layouts/footer') %>
